.stApp{
    background: linear-gradient(
        135deg,
        #fff1eb 0%,
        #f6c1cc 45%,
        #cdb4db 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.card{
    background-color: #1f1f2e;   /* deep charcoal */
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
    margin-bottom: 25px;
}

h1,h2,h3{
    color: #fef3c7;  /* warm cream */
}

p {
    color: #e5e7eb;
}

div[data-testid="metric-container"]{
    background-color: #2d2a40;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.3);
}

.prediction-box{
    background: linear-gradient(
        135deg,
        #f59e0b,
        #ef4444
    );
    padding: 22px;
    border-radius: 16px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 15px;
}
