.stApp{
    background:linear-gradient(
        135deg,
        #eaeef1 0%,
        #669cc0 50%,
        #396896 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI',sans-serif;
}

.card{
    background-color: #396896;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0.08);
    margin-bottom: 25px;
    
}

h1,h2,h3{
    color: #0f1010;
}

div[data-tested= "metric-container"]{
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0.05);
}

.prediction-box{
    background-color: linear-gradient(
        135deg,
        #90f1b2,
        #2fd067
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #14532d;
    margin-top: 15px;
}